<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OlympicGames</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header class="justify-content-center">
            <h1>Olympic Games</h1>
            <!--Show any messages present in TempData-->
            @if (TempData["message"] != null)
            {
                <h4 class="bg-success p-2">@TempData["message"]</h4>
            }
            <!--Show link to favorites page unless on favorites page-->
            @if (!ViewContext.View.Path.Contains("Favorites"))
            {
                var session = new TeamSession(Context.Session);
                <h5 class="bg-info p-2">
                    <a asp-controller="Favorites"
                    class="text-white">My Favorite Teams</a>
                    <!--Display the number of favorite teams in a badge-->
                    <span class="badge badge-light">
                        @(session.GetMyTeamCount())
                    </span>
                </h5>
            }
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
</body>
</html>
